@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(94, 147, 245);
    font-size: 16px;
}

.navGlass {
    height: 50px;
    /* border: 1px solid red; */
    background-color: rgba(255,255,255, 70%);
    /* backdrop-filter: blur(5px); */

    /* text-align: center; */
    position: fixed;
    left:0;
    right: 0;
    display: flex;
    /* justify-content: center; */
    align-items: center;   
   
}


.hamburger{
    margin-left: 20px;
    /* border: 1px solid red; */
    width: 30px;
    /* position: absolute; */
    /* top: 40px; */
    /* transform: translateY(100%); */
    /* cursor: pointer; */
    /* margin-left: 10px; */
    /* padding:auto; */
    /* padding-top: 25px; */  
}

.hamburger .linea {
    margin-bottom: 3px;
    background-color: black;
    display: block;
    height: 3px;
}

.nav-info-left {
    /* border: 1px solid red; */
    width: 300px;
    /* padding: 0; */
    position:fixed;
    top: 0;
    bottom: 0;
    /* background-color: black; */
    background-color: rgba(255,255,255, .15);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: (5px);
    left: -120%;
    /* z-index: 2; */
    text-align: center;
    padding-top: 30px
}
.close {
    display: block;
    right: 10px;
    color: white;
    font-weight: 900;
    font-size: 30px;
    position: absolute;
    top: 15px;
    z-index: 3;
    cursor: pointer;
}
.open {
    left: 0;
}

.nav-info-left ul {
}

.nav-info-left li {
    margin: 30px 0;
    list-style: none;
}


.nav-info-left a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 900;
}

.nav-info-left a:hover {
    color:lightskyblue;
}

/* header */

.header {
    padding-top: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-title {
    font-size: 1rem;
}

.container-image {
    width: 60px;
}

.container-image  img {
    width: 100%;
}

@media(min-width: 768px) {

    .navGlass {
        justify-content:flex-end;
        background-color: rgba(255,255,255, .15);
        backdrop-filter: blur(5px);
    }
    .hamburger, .close {
        display: none;
    }
    .nav-info-left {
        position: initial;
        display: flex;
        padding-top: 0;
        background-color:initial;
        backdrop-filter:initial;
        width: initial;
    }
    .nav-info-left li {
        margin: 30px 15px;
    }
}


