@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    /* background-color: rgb(94, 147, 245); */
    background-color: #17056B;
    font-size: 16px;
}

.navGlass {
    height: 50px;
    /* border: 1px solid red; */
    background-color: rgba(255,255,255, 70%);
    /* backdrop-filter: blur(5px); */

    /* text-align: center; */
    position: fixed;
    left:0;
    right: 0;
    display: flex;
    /* justify-content: center; */
    align-items: center;   
    z-index: 99;
   
}


.hamburger{
    margin-left: 20px;
    /* border: 1px solid red; */
    width: 30px;
    /* position: absolute; */
    /* top: 40px; */
    /* transform: translateY(100%); */
    /* cursor: pointer; */
    /* margin-left: 10px; */
    /* padding:auto; */
    /* padding-top: 25px; */  
}

.hamburger .linea {
    margin-bottom: 3px;
    background-color: black;
    display: block;
    height: 3px;
}

.nav-info-left {
    /* border: 1px solid red; */
    width: 300px;
    /* padding: 0; */
    position:fixed;
    top: 0;
    bottom: 0;
    /* background-color: black; */
    background-color: rgba(94, 147, 245, 0.9);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: (5px);
    left: -120%;
    /* z-index: 2; */
    text-align: center;
    padding-top: 30px
}
.close {
    display: block;
    right: 10px;
    color: white;
    font-weight: 900;
    font-size: 30px;
    position: absolute;
    top: 15px;
    z-index: 3;
    cursor: pointer;
}
.open {
    left: 0;
}

.nav-info-left ul {
}

.nav-info-left li {
    margin: 30px 0;
    list-style: none;
}


.nav-info-left a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    /* font-weight: 900; */
}

.nav-info-left a:hover {
    color:lightskyblue;
}

/* header */

.header {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    padding-bottom: 50px;
}
.header-title {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 20px;
    color: azure;
}
/* .grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
     margin: 0 50px;
    z-index: -1;
} */

.header-mainImage {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 73vh;
    position: relative;
}

.header-mainImage li {
    position:absolute;
    list-style: none;
    transform: rotate(calc(360deg / 6 * var(--i))) translatex(135px);
    /* transform-origin: 100px; */
    /* left: 10px; */
    width: 100px;
}

.header-mainImage li a img {
    width: 100%;
    border-radius: 50%;
    /* transform: rotate(calc(360deg / -6 * var(--i))); */
    animation: pulse 2s infinite; 
}

.grid a:nth-child(1){
    grid-column: 3/5;
    grid-row: 1/3;
    justify-self: center;
    /* animation: pulse 2s infinite; */
    border-radius: 50%;
}

.grid a:nth-child(2){
    grid-column: 1/3;
    grid-row: 1/2;
    justify-self: center;
    width: 40%;
}


.grid a:nth-child(3){
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: center;
    width: 90%;

}

.grid a:nth-child(4){
    grid-column: 3/4;
    grid-row: 3/4;
    width: 90%;  
}

.grid a:nth-child(5){
    grid-column: 4/5;
    grid-row: 3/4;
    width: 90%;

}

.grid a:nth-child(6){
    grid-column: 5/6;
    grid-row: 2/3;
    justify-self: center;
    width: 90%;

}

.grid a:nth-child(7){
    grid-column: 5/7;
    grid-row: 1/2;
    justify-self: center;
    width: 40%;
}

/* NUMEROS */

.numeros {
    display: flex;
    color: azure;
    background: url(../img/grupreysa-fachada.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-around;
    padding: 30px 0;
    position: relative;
    height: 20%;
}
.numeros::before {
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.numeros__container {
    width: 100%;
    display: flex;
    color: white;
    justify-content: space-around;
    z-index: 1;
    font-weight: bold;
}

/* NOSOTROS */
.nosotros {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8,auto);
    background-color:azure;
    padding: 50px 30px;
}

.nosotros__h2 {
    justify-self: center;
    text-shadow: 0px 5px 12px black;
    margin-bottom: 15px;
}
.nosotros__h3 {
    text-align: center;
    margin-bottom: 15px;

}

.nosotros__containerImg {
    width: 100%;
    margin: 15px 0;
    max-width: 800px;
    justify-self: center;
}

.nosotros__containerImg-chica {
    max-height: 500px;
    overflow: hidden;
    max-width: 670px;
}
.nosotros__img {
    width: 100%;
}

.historia__article {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: repeat(2, auto);
    align-items: center;
    justify-items: center;
}

.historia__containerImg {
    grid-row: 2/3;
    grid-column: 1/2;
    margin: 15px 0;
}

   @keyframes pulse{
    0%{
      /* //La escala nos dar치 el efecto de desvanecimiento intermitente */
      transform:scale(.9) rotate(calc(360deg / -6 * var(--i)));
      /* //El box shadow es el color que se desvanece con opacidad menor al color */
      box-shadow: 0 0 0 0 rgba(37, 6, 212, 0.7)
    }
    70%{
      /* //hacemos la escala m치s grande & luego la restauramos a su valor inicial */
      /* transform:scale(1); */
     /* //quitaremos el color de la sombra */
      box-shadow: 0 0 0 10px rgba(247, 159, 121, 0)
      
    }
    100%{
      transform:scale(.9) rotate(calc(360deg / -6 * var(--i)));  
    }
  
  }

  /* principios__article */

  .principios__article {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .card-110822 {
    position: relative;
    width: 350px;
    height: 85px;
    background: #17056B;
    border-radius: 20px;
    filter: drop-shadow(-20px 20px 40px #398cc055);
    transition: .5s ease-in-out;
    margin-bottom: 70px;

}

.card-110822.active-110822 {
    height: 420px;
}

.toggle-110822 {
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
    width: 70px;
    height: 60px;
    background-color: #17056B;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    cursor: pointer;
}

.toggle-110822::before {
    content: '';
    position: absolute;
    background: transparent;
    left: -34px;
    width: 35px;
    height: 35px;
    border-top-right-radius: 35px;
    box-shadow: 11px -10px 0 10px #17056B;
}

.toggle-110822::after {
    content: '';
    position: absolute;
    background: transparent;
    right: -34px;
    width: 35px;
    height: 35px;
    border-top-left-radius: 35px;
    box-shadow: -11px -10px 0 10px #17056B;
}

.toggle-110822 span {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
    transform: translate(-50%, -70%) rotate(405deg);
    transition: .5s ease-in-out;
}

.card-110822.active-110822 .toggle-110822 span {
    transform: translate(-50%, -70%) rotate(225deg);

} 

.contentBox-110822 {
    /* El position, inset y el overflow, sirven para que el texto se oculte */
    padding: 20px;
    position: absolute;
    inset: 0;
    overflow: hidden;
    
    
    
}

.contentBox-110822 .content-110822 {
   position: relative;
   padding: 10px;
   text-align: center;
   z-index: 10;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.contentBox-110822 .content-110822 h2 {
    color: #fff;
    /* border: 1px solid red; */
}

.contentBox-110822 .content-110822 .pbx-110822 {
    margin-top: 30px;
    width: 300px;
    height: 250px;
    background-color: #fff;
    /* margin-top: 30px; */
    box-shadow: -10px 10px 10px rgba(0,0,0,0.15);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentBox-110822 .content-110822 .pbx-110822 p,
.contentBox-110822 .content-110822 .pbx-110822 ul li {
    text-align: justify;
    margin: 0 10px;
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 33px;
}





  /* masNosotros */

  .masNosotros {
    padding: 32px;
    display: flex;
    justify-content: space-around;
    /* background-color: azure; */

  } 

  .card {
    padding: 16px;
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
    align-items: center;
    background-color: azure;
  }

  .card i {
    font-size: 64px;
    color: #17056B;
  }

  .card p{
    color: #17056B;
    font-size: 32px;
    text-align: center;
  }

  






@media(min-width: 768px) {

    .navGlass {
        justify-content:flex-end;
        background-color: rgba(255,255,255, .15);
        backdrop-filter: blur(5px);
    }
    .hamburger, .close {
        display: none;
    }
    .nav-info-left {
        position: initial;
        display: flex;
        padding-top: 0;
        background-color:initial;
        backdrop-filter:initial;
        width: initial;
    }
    .nav-info-left li {
        margin: 30px 15px;
    }

/* header */

    .header-title{
        font-size: 2.8rem;
    }

    .grid {
        height: 100vh;
    }

    .grid a:nth-child(1), .grid a:nth-child(3), .grid a:nth-child(4),
    .grid a:nth-child(5), .grid a:nth-child(6)  {
        width: 80%;
    }

    /* .container-image.main {
        max-width: 500px;
    }

    .container-image {
        max-width: 250px;
    } */


    .header-mainImage li {
        
        transform: rotate(calc(360deg / 6 * var(--i))) translatex(200px);
        width: 130px;
    }
    
    .header-mainImage li a img {
        width: 100%;
        
        border-radius: 50%;
        /* transform: rotate(calc(360deg / -6 * var(--i))); */
        animation: pulse2 2s infinite; 
    }

    /* NUMEROS */

    .numeros {
        font-size: 2rem;
        padding: 80px 0;
    }



    /* NOSOTROS */

    .nosotros {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 1, repeat(3,auto);
        background-color:azure;
        padding: 50px 30px;
    }

    .nosotros__h2 {
        grid-column: 1/3;
        grid-row: 1/2;
    }


    .nosotros__article {
       grid-column: 1/3;
       grid-row: 2/3;
       display: grid;
       grid-template-columns: 	repeat(2, 1fr);
       grid-template-rows: 1;
    }

    /* .nosotros__contenido {
        grid-column: 1/2;
    } */

    .nosotros__contenido {
        align-self: center;
    }
    
    .historia__article {
       grid-column: 1/3;
       grid-row: 3/4;
       display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1;
    }

    .historia__containerImg {
        grid-row: 1/2;
        grid-column: 1/2;
        margin-right: 15px;
    }


@keyframes pulse2{
    0%{
      /* //La escala nos dar치 el efecto de desvanecimiento intermitente */
      transform:scale(.9) rotate(calc(360deg / -6 * var(--i)));
      /* //El box shadow es el color que se desvanece con opacidad menor al color */
      box-shadow: 0 0 0 0 rgba(37, 6, 212, 0.7)
    }
    70%{
      /* //hacemos la escala m치s grande & luego la restauramos a su valor inicial */
      /* transform:scale(1); */
     /* //quitaremos el color de la sombra */
      box-shadow: 0 0 0 30px rgba(247, 159, 121, 0)
      
    }
    100%{
      transform:scale(.9) rotate(calc(360deg / -6 * var(--i)));  
    }
  
}

/* principios__article */

.principios__article {
    width: 100%;
    /* border: 1px solid red; */
    margin-top: 32px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }



}


