@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(94, 147, 245);
    font-size: 16px;
}

.navGlass {
    height: 50px;
    /* border: 1px solid red; */
    background-color: rgba(255,255,255, 70%);
    /* backdrop-filter: blur(5px); */

    /* text-align: center; */
    position: fixed;
    left:0;
    right: 0;
    display: flex;
    /* justify-content: center; */
    align-items: center;   
   
}


.hamburger{
    margin-left: 20px;
    /* border: 1px solid red; */
    width: 30px;
    /* position: absolute; */
    /* top: 40px; */
    /* transform: translateY(100%); */
    /* cursor: pointer; */
    /* margin-left: 10px; */
    /* padding:auto; */
    /* padding-top: 25px; */  
}

.hamburger .linea {
    margin-bottom: 3px;
    background-color: black;
    display: block;
    height: 3px;
}

.nav-info-left {
    /* border: 1px solid red; */
    width: 300px;
    /* padding: 0; */
    position:fixed;
    top: 0;
    bottom: 0;
    /* background-color: black; */
    background-color: rgba(94, 147, 245, 0.9);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: (5px);
    left: -120%;
    /* z-index: 2; */
    text-align: center;
    padding-top: 30px
}
.close {
    display: block;
    right: 10px;
    color: white;
    font-weight: 900;
    font-size: 30px;
    position: absolute;
    top: 15px;
    z-index: 3;
    cursor: pointer;
}
.open {
    left: 0;
}

.nav-info-left ul {
}

.nav-info-left li {
    margin: 30px 0;
    list-style: none;
}


.nav-info-left a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 900;
}

.nav-info-left a:hover {
    color:lightskyblue;
}

/* header */

.header {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}
.header-title {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 20px;
}
.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    /* margin: 0 50px; */
    z-index: -1;
}

.grid a:nth-child(1){
    grid-column: 3/5;
    grid-row: 1/3;
    justify-self: center;
    /* animation: pulse 2s infinite; */
    border-radius: 50%;
}

.grid a:nth-child(2){
    grid-column: 1/3;
    grid-row: 1/2;
    justify-self: center;
    width: 40%;
}


.grid a:nth-child(3){
    grid-column: 2/3;
    grid-row: 2/3;
    /* justify-self: center; */
    width: 90%;

}

.grid a:nth-child(4){
    grid-column: 3/4;
    grid-row: 3/4;
    width: 90%;  
}

.grid a:nth-child(5){
    grid-column: 4/5;
    grid-row: 3/4;
    width: 90%;

}

.grid a:nth-child(6){
    grid-column: 5/6;
    grid-row: 2/3;
    justify-self: center;
    width: 90%;

}

.grid a:nth-child(7){
    grid-column: 5/7;
    grid-row: 1/2;
    justify-self: center;
    width: 40%;
}


   @keyframes pulse{
    0%{
      /* //La escala nos dará el efecto de desvanecimiento intermitente */
      transform:scale(.9);
      /* //El box shadow es el color que se desvanece con opacidad menor al color */
      box-shadow: 0 0 0 0 rgba(37, 6, 212, 0.7)
    }
    70%{
      /* //hacemos la escala más grande & luego la restauramos a su valor inicial */
      /* transform:scale(1); */
     /* //quitaremos el color de la sombra */
      box-shadow: 0 0 0 10px rgba(247, 159, 121, 0)
      
    }
    100%{
      transform:scale(.9);  
    }
  
  }
  





.raw {
    /* display: flex;
    justify-content: space-around;
    width: 100%; */
    /* align-items: flex-end; */
}

/* .container-image.main {
    width: 50%;
}

.container-image {
    width: 25%;
} */
.container-image  img {
    width: 100%;
    /* box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12); */
    border-radius: 50%;
    animation: pulse 2s infinite;
    
}

@media(min-width: 768px) {

    .navGlass {
        justify-content:flex-end;
        background-color: rgba(255,255,255, .15);
        backdrop-filter: blur(5px);
    }
    .hamburger, .close {
        display: none;
    }
    .nav-info-left {
        position: initial;
        display: flex;
        padding-top: 0;
        background-color:initial;
        backdrop-filter:initial;
        width: initial;
    }
    .nav-info-left li {
        margin: 30px 15px;
    }

/* header */

    .header-title{
        font-size: 3rem;
    }

    .grid {
        height: 100vh;
    }

    .grid a:nth-child(1), .grid a:nth-child(3), .grid a:nth-child(4),
    .grid a:nth-child(5), .grid a:nth-child(6)  {
        width: 80%;
    }

    .container-image.main {
        max-width: 500px;
    }

    .container-image {
        max-width: 250px;
    }

    .container-image  img {
        animation: pulse2 2s infinite;

    }

@keyframes pulse2{
    0%{
      /* //La escala nos dará el efecto de desvanecimiento intermitente */
      transform:scale(.9);
      /* //El box shadow es el color que se desvanece con opacidad menor al color */
      box-shadow: 0 0 0 0 rgba(37, 6, 212, 0.7)
    }
    70%{
      /* //hacemos la escala más grande & luego la restauramos a su valor inicial */
      /* transform:scale(1); */
     /* //quitaremos el color de la sombra */
      box-shadow: 0 0 0 30px rgba(247, 159, 121, 0)
      
    }
    100%{
      transform:scale(.9);  
    }
  
  }




}


